/*Dit is de CSS stylesheet*/


/* ///// Containers ///// */

.story-container {

}

/* Reset de padding in de columns */
/*.columns {
	padding-left:0; !important
	padding-right:0; !important
}
*/


/* ///// Navigation ///// */

#navigation {
	position: fixed;
}

#navigation li{
	font-family: 'Roboto', sans-serif;
	font-size: 20pt;
	font-weight: 200;
	text-align: center;
	list-style: none;
	padding-top: 23px;
	padding-bottom: 23px;
	border-bottom: 1px solid #E6E6E6;

}

#navigation a{
	color: #262626;
}

#navigation li img{
	max-width: 90px;
}





/* ///// Typografie ///// */

p {
	font-family: 'Droid Serif', serif; 
	font-size: 16pt;
	color: #262626;
	padding-bottom: 10px;
}

/* h1 zijn hoofdtitels */
h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	font-size: 30pt;
	text-align: center;
}

/* h2 wordt gebruikt voor de overlay-titels over foto's */
h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	color: #FFF;
	font-size: 30pt;
	text-align: center;
}

/* h3 wordt gebruikt als ondertitels */
h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	font-size: 22pt;
}

/* <span> wordt gebruikt voor de magere bijzin onder te tussentitel, zonder nieuwe h bij te maken */
h3 span{
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	font-size: 22pt;
}

h4 {

}

blockquote {
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	font-size: 22pt;
	margin-bottom: 40px;
}
blockquote span{
	font-size: 16pt;
}

hr.zwart{
	border: 1px solid #262626;
	width: 100px;
}

hr.wit{
	border: 1px solid #FFF;
	width: 100px;
}




/* ///// Stories ////// */


section.story {
	padding:0;
}

.story-container {
	padding:0;
}

.content {
	padding: 63px;
}

.top-image {
	width: 750px;
	height: 400px;
	padding-top:150px;
}

.introductie-image {
	background-image: url(http://placekitten.com/750/400);
}

.heden-image {
	background-image: url(http://placekitten.com/750/400);
	position: relative;
}

.introductie {
	background-color: #F2F2F2;
}

.title {
	padding-bottom: 40px;
}

.wo-ii-uitleg {

}

.heden {
	background-color: #F2F2F2;
}





