/*Dit is de CSS stylesheet*/


/* ///// Containers ///// */

.container {
	background-color: #FFF;
}

.story-container {

}




/* ///// Navigation ///// */

#navigation {
	position: fixed;
}

#navigation li{
	font-family: 'Roboto', sans-serif;
	font-size: 20pt;
	font-weight: 200;
	text-align: center;
	list-style: none;
	padding-top: 23px;
	padding-bottom: 23px;
	border-bottom: 1px solid #E6E6E6;

}

#navigation a{
	color: #262626;
}

#navigation li img{
	max-width: 90px;
}





/* ///// Typografie ///// */

p {
	font-family: 'Droid Serif', serif; 
	font-size: 16pt;
	color: #262626;
}

/* h1 zijn hoofdtitels */
h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	font-size: 30pt;
}

/* h2 wordt gebruikt voor de overlay-titels over foto's */
h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	font-size: 30pt;
}

/* h3 wordt gebruikt als ondertitels */
h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	font-size: 22pt;
}

/* <span> wordt gebruikt voor de magere bijzin onder te tussentitel, zonder nieuwe h bij te maken */
h3 span{
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	font-size: 22pt;
}

h4 {

}

blockquote {
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	font-size: 22pt;
	margin-bottom: 40px;
}
blockquote span{
	font-size: 16pt;
}




/* ///// Stories ////// */


.content {
	padding: 63px;
}

.top-image {
	width: 750px;
	height: 400px;
	background-image: url("img/introductie.jpg");
}

.introductie {
	background-color: #F2F2F2;
}

.wo-ii-uitleg {

}

.heden {
	background-color: #F2F2F2;
}





